name: test

on:
  push:
    branches:
      - '*'
    tags-ignore:
      - '*'
  pull_request:

jobs:
  raku:
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
        raku-version:
          - "latest"
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: Raku/setup-raku@v1
        with:
          raku-version: ${{ matrix.raku-version }}
      - run: raku -V
      - name: Install dependencies
        run: |
          zef install --/test --deps-only .
          zef install --/test App::Prove6
      - name: Run tests
        run: prove6 -I. t
